<!DOCTYPE html>
<html lang="eng">

<head>
  <title>User</title>
  <meta charset="utf-8">
  {% load static from staticfiles %}
  <!-- href gets from static directory -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
  <link rel="stylesheet" href="{%  static 'css/main.css' %}">
</head>

<body class="body" style="background-color:#f6f6f6">
  <div class="container-fluid" style="min-height:95%; ">
    <div class="row">
        <div>
          <br>
          <h3 class='text-center'>Find a Friend!</h3>
        </div>
    </div><hr>
    <div class="container-fluid">
      <form>
        <h5 id="prompt">Search By Zipcode:</h5>
        <input type="text" input="zip-code" id="zip-code"/>
        <input type="button" value="Search" id="search">
      </form>
      <!-- add form for filters -->
    </div>
        <script type="text/javascript">
          var dogs = []
        </script>
        <div class="module-card-wrap">
        {% for dog in dogs %}
        <script type="text/javascript">
          dogs.push("{{dog|safe}}")
        </script>
          <div class="module-card">
            <div class="module-card-title">{{dog.name}}</div>
            <div class="module-card-meta">
              <div class="module-card-category">
                <span class="fa fa-tag"></span>
                <span>{{dog.size}}, {{dog.sex}}</span>
              </div>
              <div class="module-card-author">
                <span class="fa fa-user"></span>
                <span>{{dog.age}}</span>
              </div>      
            </div> <!-- /module-card-meta -->

            <div class="module-card-bottom">
              <img src="{{dog.profile_photo_url}}" class="module-card-img" />
              <button class="module-card-button">See More</button>
            </div>
          </div>
        </div>
       {% endfor %}
  </div>
  <footer>
    <div class="container-fluid" style="margin-left:15px">
    </div>
  </footer> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="{% static 'js/dogs.js'%}"></script>
</body>

</html>
