* {
  box-sizing: border-box;
}

.module-card-wrap {
  max-width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.module-card {
  background: #fff;
  border: 1px solid #f1f1f1;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.05);
  min-width: 100%;
  padding: 10px;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
}

.module-card-title {
  font-size: 120%; 
  font-weight: 700;
}

.module-card-meta {
  display: flex;
}

.module-card-category, .module-card-author {
  flex: 1;
}

.module-card-author {
  text-align: right;
}

.module-card-bottom {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* a flex: 1 also works here, but is buggy on IE11 */
}

.module-card-img {
  margin: 20px 0;
  align-self: center;
  width: 30%;
  height: 20%;
}

.module-card-button {
  background: seagreen;
  color: white;
  border: none;
  margin-top: auto;
  padding: 10px;
}

@media screen and (min-width: 600px) {
  .module-card {
    width: 48%;
    margin: 0 auto 2%;
    min-width: 0;
  }
}


/*POPUP MODAL*/
a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 15px;
  position:absolute;
  text-align:left;
  width:394px;
  z-index:50;
  padding: 25px 25px 20px;
}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}
